<!DOCTYPE html>
<html lang="sk">
<head>
    {% load pwa %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Moja aplikácia{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/icons/site.webmanifest' %}">
    {% progressive_web_app_meta %}
</head>
<body>
    <div class="page-container"> <!-- Začiatok .page-container -->
     <header class="header">
        <h1>{% block header %}

            {% endblock %}
        </h1>
        <nav class="navigation">
            <ul>
                <li><a href="{% url 'home' %}">Domov</a></li>
                <li><a href="/about.html">O nás</a></li>
                <li><a href="/contact.html">Kontakt</a></li>
                <li><a href="{% url 'login' %}">Prihlásiť sa</a></li>
                <!-- Pridajte ďalšie odkazy podľa potreby -->
            </ul>
        </nav>
    </header>

    <main>
        <div>
            {% block content %}
        <!-- Hlavný obsahový blok, ktorý môžu iné šablóny prepísať -->
            {% endblock %}
        </div>
    </main>

    <footer class="footer">
        {% block footer %}
        <div class="footer-content">
            <nav class="footer-navigation">
                <ul>
                    <li><a href="/pravne-informacie">Právne informácie</a></li>
                    <li><a href="/ochrana-osobnych-udajov">Ochrana osobných údajov</a></li>
                    <li><a href="/kontakt">Kontakt</a></li>
                </ul>
            </nav>
            <div class="social-links">
                <a href="https://facebook.com" target="_blank">Facebook</a>
                <a href="https://twitter.com" target="_blank">Twitter</a>
                <a href="https://instagram.com" target="_blank">Instagram</a>
                <!-- Pridaj odkazy na ďalšie sociálne siete podľa potreby -->
            </div>
        {% endblock %}
    </footer>
 </div>
</body>
</html>
