{% load static %}
<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prihlásenie - Rodinná Stránka</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main>
       <ul>
         {% for post in object_list %}
         <h2>{{ post.title }}</h2>
         <img src="{{ post.cover.url}}" alt="{{ post.title }}">
         {% endfor %}
      </ul>
    </main>
</body>
</html>

